*.pyc
__pycache__/
db.sqlite3
.env
*.log
logs/
media/
staticfiles/
venv/
.idea/
*.sqlite3
*.pot


# Node / React
node_modules/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
